{{ attach_library('ums_cardfile/ums-cardfile-functions') }}
<h1>
	<span>UMS Cardfile Artists</span>
</h1>

<div class="l-overflow-clear">
	<p>
		<a href="/cardfile/artist/edit" class="align-left base-margin-right">Add New Artist</a>
	</p>

  {% set alphabet_links = [] %}

  {% for achar in range('A', 'Z') %}
    {% if filter == achar %}
      {% set anchor_href = [ '<strong>', achar, '</strong>' ] | join %}
      {% set alphabet_links = alphabet_links|merge([anchor_href]) %}
    {% else %}
      {% set anchor_href = [ '<a href="', base_url, '/cardfile/artists/', achar, '">', achar,'</a>' ] | join %}
      {% set alphabet_links = alphabet_links|merge([anchor_href]) %}
    {% endif %}
  {% endfor %}
  {% if filter %}
    {% set anchor_href = ['<a href="', base_url, '/cardfile/artists/">', 'Reset</a>'] | join %}
    {% set alphabet_links = alphabet_links|merge([anchor_href]) %}
  {% endif %}

  {% set imploded = alphabet_links | join(' - ') %}
  {% set parahtml = ['<p>Filter: ', imploded, '</p>'] | join %}

  <div>
  {{ parahtml | raw }}
  </div>
  <div>
    <table id="ums-artists-table">
		<thead>
			<tr>
				<th role="columnheader">Id</th>
				<th role="columnheader">Name</th>
				<th role="columnheader">Alias</th>
				<th role="columnheader">Notes</th>
				<th data-sort-default role="ascending">Photo</th>
				<th>View</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>

			{% for artist in artists %}
				<tr>
					<td>
						{{ artist.aid }}
					</td>
					<td>
						{{ artist.name }}
					</td>
					<td>
						{{ artist.alias }}
					</td>
					<td>
						{{ artist.notes }}
					</td>
					<td>
            {{ artist.photo_links | raw}}
					</td>
          <td>
            <a href="/cardfile/artist/{{ artist.aid }}" class="button cardfile-artist">View</a>
          </td>
          <td>
            <a href="/cardfile/artist/edit/{{ artist.aid }}" class="button cardfile-artist">Edit</a>
          </td>
          <td>
            <a href="/cardfile/artist/delete/{{ artist.aid }}" class="button delete cardfile-artist" data-name="{{ row.name }}">Delete</a>
          </td>
        </tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="l-overflow-clear">
	{{ pager }}
</div>

