
<h1>
  <span>UMS Cardfile Artist: {{ artist.name }}</span>
</h1>

<div class="l-overflow-clear">
	<p>
    <a href="/cardfile/artist/edit/{{ artist.aid }}" class="align-left base-margin-right">edit artist info</a>
	</p>
</div>
<div class="l-overflow-clear">
  {% if artist.alias %}
    <p>Alias:  {{ artist.alias }}</p>
  {% endif %}
  {% if artist.notes %}
    <p>Notes: {{ artist.notes }}</p>
  {% endif %}
  {% if artist.photos %}
    <p><strong>View Photos:</strong>{{ artist.photos }}</p>
  {% endif %}

	<h2>Repertoire as a Creator:</h2>
  {% if artist.works|length > 0 %}
    {% for work in artist.works %}
      <p>Composer: <a href="cardfile/work/{{ work.wid }}">{{work.title}}</a></p>
    {% endfor %}</ul>
  {% else %}
    <p>No repertoire as a creator.</p>
  {% endif %}
		
  <h2>Repertoire as a Performer:</h2>

  {% if artist.performances|length > 0 %}
    {% for performance in artist.performances %}
      <p>{{ performance.role }}:
        <a href="cardfile/performance/{{ performance.pid }}">{{ performance.work.title }}</a>,
        <a href="cardfile/event/{{ performance.event.eid }}">{{ performance.event.date | date("m/d/Y") }}, {{ performance.event.date | date("H:i") }}</a>
        at  {{ performance.event.venue }}.
      </p>
    {% endfor %}
  {% else %}
    <p>No repertoire as a performer.</p>
  {% endif %}

<div class="l-overflow-clear">
  <a href="/cardfile/artists" class="align-left base-margin-right">See full artist list</a>
</div>
