<h2>
  Adding a {{ heading_text | raw }}
</h2>

{% if copy_performance_flag %}
  <p>Copy Repertoire Performances from Event {{ source_event.date }} at {{ source_event.venue }}?</p>
	  <ul>
      {% for source_perf in source_event.performances %}  
        <li>{{ source_perf.title }}</li>
      {% endfor %}
	  </ul>
  <p>
    <a href="/cardfile/join/{{ source_type }}/{{ source_id }}/source_event/{{ source_eid }}">COPY PERFORMANCES TO THIS EVENT</a>
  </p>
{% else %}
  <p>Searching for {{ search_terms_list }} </p>

  {% if type = 'work' %}
    {% if works | length > 0 %}   {# WORKS #}
      {# TABLE $output .= theme('table', array_keys(reset($works)), $works); #}
      <p>
        <strong>- OR -</strong>
      </p>
    {% else %}
      <p>No existing repertoire matches found</p>
    {% endif %}
    <p>
      <a href="/cardfile/work/edit&eid={{ source_id }}?title= {{ search }}">ADD NEW REPERTOIRE</a>
    </p)
  {% elseif type = 'artist' %}
    {% if artists | length > 0 %} {# ARTISTS #}
      {# TABLE $output .= theme('table', array_keys(reset($works)), $artists); #}
      <p>
        <strong>- OR -</strong>
      </p>
    {% else %}
      <p>No existing ARTISTS matches found</p>
    {% endif %}
    <p>
      <a href="/cardfile/artist/edit&eid={{ source_id }}?name= {{ search }}">ADD NEW ARTIST</a>
    </p)
  {% end if %}
{% endif %}

