<h2>
  {{ heading_text | raw }}
</h2>

{% if copy_performance_flag %}
  <p>Copy Repertoire Performances from Event {{ source_event.date | date("m/d/Y")}} at {{ source_event.venue }}?</p>
	  <ul>
      {% for source_perf in source_event.performances %}  
        <li>{{ source_perf.title }}</li>
      {% endfor %}
	  </ul>
  <p>
    <a href="/cardfile/join/{{ source_type }}/{{ source_id }}/{{ source_event }}/{{ source_eid }}">COPY PERFORMANCES TO THIS EVENT</a>
  </p>
{% else %}
  <p>Searching for "{{ search_terms_list }}"</p>
  {% if type == 'work' %}
    {% if works | length > 0 %}   {# WORKS #}
      {# TABLE $output .= theme('table', array_keys(reset($works)), $works); #}

      <table id="ums_searchadd-works-table">
        <thead>
          <tr>
            {% for key, value in works|first %}
              <th role="columnheader">{{ key }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for work in works %}
            <tr>
              {% for key, value in work %}
                <td>
                  {% if key == 'Artists' %}
                    {{ value | raw }}
                  {% else %}
                    {{ value }}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <p>
        <strong>- OR -</strong>
      </p>
    {% else %}
      <p>No existing repertoire matches found</p>
    {% endif %}
    <p>
      <a href="/cardfile/work/edit?eid={{ source_id }}&title={{ search }}">ADD NEW REPERTOIRE</a>
    </p>

  {% elseif type == 'artist' %}
    {% if artists | length > 0 %}
      {# ARTISTS #}
      {# TABLE $output .= theme('table', array_keys(reset($artists)), $artists); #}

      <table id="ums_searchadd-artists-table">
        <thead>
          <tr>
            {% for key, value in artists|first %}
              <th role="columnheader">{{ key }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for artist in artists %}
            <tr>
              {% for key, value in artist %}
                <td>
                  {% if key == 'Notes' %}
                    {{ value | raw }}
                  {% else %}
                    {{ value }}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <p><strong>- OR -</strong></p>

      {% if source_type == 'performance' %}
        {% set source_id_name = 'pid' %}
      {% elseif source_type == 'work' %}
        {% set source_id_name = 'wid' %}
      {% endif %}

      <p>
        <a href="/cardfile/artist/edit?{{ source_id_name }}={{ source_id }}&name={{ search }}">ADD NEW ARTIST</a>
      </p>
    {% else %}
      <p>No existing ARTISTS matches found</p>
    {% endif %}
  {% endif %}
{% endif %}

