{{ attach_library('ums_cardfile/ums-cardfile-functions') }}
<h1>
	<span>UMS Cardfile Repertoire</span>
</h1>

<div class="l-overflow-clear">
	<p>
		<a href="/cardfile/work/edit" class="align-left base-margin-right">Add New Repertoire</a>
    <br />
    <a href="/cardfile/workroles" class="align-left base-margin-right">Edit Creator Roles</a>
  </p>

  {% set alphabet_links = [] %}

  {% for achar in range('A', 'Z') %}
    {% if filter == achar %}
      {% set anchor_href = [ '<strong>', achar, '</strong>' ] | join %}
      {% set alphabet_links = alphabet_links|merge([anchor_href]) %}
    {% else %}
      {% set anchor_href = [ '<a href="', base_url, '/cardfile/works/', achar, '">', achar,'</a>' ] | join %}
      {% set alphabet_links = alphabet_links|merge([anchor_href]) %}
    {% endif %}
  {% endfor %}

  {% if filter %}
    {% set anchor_href = ['<a href="', base_url, '/cardfile/works/">', 'Reset</a>'] | join %}
    {% set alphabet_links = alphabet_links|merge([anchor_href]) %}
  {% endif %}

  {% set imploded = alphabet_links | join(' - ') %}
  {% set parahtml = ['<p>Filter: ', imploded, '</p>'] | join %}

  {% if works|length > 0 %}
    <div>
      {{ parahtml | raw }}
    </div>
    <div>
      <table id="ums-artists-table">
        <thead>
          <tr>
            <th role="columnheader" width="50">ID</th>
            <th role="columnheader" width="250">Title</th>
            <th role="columnheader" width="130">Alternate Title</th>
            <th role="columnheader" width="130">Notes</th>
            <th width="60">View</th>
            <th width="54">Edit</th>
            <th width="90">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for work in works %}
            <tr>
             <td>
                {{ work.wid }}
              </td>
              <td>
                {{ work.creators | raw }}
              </td>
              <td>
                {{ work.alternate }}
              </td>
              <td>
                {{ work.notes }}
              </td>
              <td>
                <a href="/cardfile/work/{{ work.wid }}" class="button cardfile-work">View</a>
              </td>
              <td>
                <a href="/cardfile/work/edit/{{ work.wid }}" class="button cardfile-work">Edit</a>
              </td>
              <td>
                <a href="/cardfile/work/delete/{{ work.wid }}" class="button delete cardfile-work" data-name="{{ row.name }}">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="l-overflow-clear">
      {{ pager }}
    </div>
  {% else %}
    <p>No Repertoire Defined</p>
  {% endif %}
</div>
