{{ attach_library('ums_cardfile/ums-cardfile-functions') }}
<h1>
	<span>UMS Creator Roles</span>
</h1>

  
{{ work_role_add_form }}


{% if workroles|length > 0 %}

  <table id="ums-workrole-table">
    <thead>
      <tr>
        <th role="columnheader">Role Name</th>
        <th role="columnheader">DELETE?</th>
      </tr>
    </thead>
    <tbody>
      {% for role in workroles %}
        <tr>
          <td>
            {{ role.name }}
          </td>
          <td>
            <a href="/cardfile/workrole/delete/{{ role.wrid }}" class="button delete cardfile-workrole" data-name="{{ role.name }}">Delete</a>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% else %}
  <p>No Creator Roles Defined</p>
{% endif %}

{% if return %}
  <a href={{ return }} class="align-left base-margin-right">Return to previous page</a>
{% endif %}

<div class="l-overflow-clear">
	<p>
		<a href="/cardfile/works" class="align-left base-margin-right">UMS Works List</a>
	</p>
</div>

