<h1>
  {% if year > 0 %}
    <span>UMS Cardfile Events for {{ year }}</span>
  {% else %}
    <span>UMS Cardfile Events</span>
  {% endif %}
</h1>


<div class="l-overflow-clear">
	<p>
		<a href="/cardfile/artist/edit/{{ artist.aid }}" class="align-left base-margin-right">Add New Event</a>
	</p>
	<p>
		<br/>
		<a href="/cardfile/venues{{ artist.aid }}" class="align-left base-margin-right">Edit Venue List</a>
	</p>
	<p>
		<br/>
		<a href="/cardfile/series" class="align-left base-margin-right">Edit Series List</a>
	</p>
	<p>
		<br/>
		<br/>
		<a href="/cardfile/events/all" class="align-left base-margin-right">VIEW ALL YEARS</a>
	</p>

</div>
{% if year > 0 %}
  {% if rows|length > 0 %}
    <div>
      <table id="ums_artists-table">
        <thead>
          <tr>
             <th role="columnheader">ID</th>
            <th role="columnheader">Date</th>
            <th role="columnheader">Title</th>
            <th role="columnheader">Venue</th>
            <th role="columnheader">Series</th>
            <th role="columnheader">Notes</th>
            <th role="columnheader">Program</th>
            <th role="columnheader">Photo</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>

          {% for event in rows %}
            <tr>
              <td>
                {{ event.eid }}
              </td>
              <td>
                {{ event.date | date("m/d/Y") }}
              </td>
              <td>
                {{ event.title }}
              </td>
              <td>
                {{ event.venue }}
              </td>
              <td>
                {{ event.series }}
              </td>
              <td>
                {{ event.notes }}
              </td>
              <td>
                {{ event.program_links | raw}}
              </td>
              <td>
                {{ event.photo_links | raw}}
              </td>
              <td>
                <a href="/cardfile/event/{{ event.eid }}" class="button delete cardfile-venue">View</a>
              </td>

              <td>
                <a href="/cardfile/event/edit/{{ event.eid }}" class="button delete cardfile-venue">Edit</a>
              </td>

              <td>
                <a href="/cardfile/event/delete/{{ event.eid }}" class="button delete cardfile-venue">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>



  {% else %}
    <p>No Events for {{ year }}</p>
  {% endif %}
{% else %}
  {% if rows|length > 0 %}
    <table id="ums_artists-table">
      <thead>
        <tr>
          <th role="columnheader">Year</th>
          <th role="columnheader"># of Events</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            <td>
              <a href="/cardfile/events/{{ row.year }}" class="align-left base-margin-right">{{ row.year }}</a>
            </td>
            <td>
              {{ row.numberOfEvents  }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No Events defined</p>
  {% endif %}
{% endif %}


{# $rows = array();
		      $result = db_query('SELECT YEAR(date) AS event_year, COUNT(eid) AS event_count FROM ums_events GROUP BY event_year ORDER BY event_year');
		      while ($row = db_fetch_object($result)) {
		        $row = array(
		          'Year' => l($row->event_year, 'cardfile/events/' . $row->event_year),
		          '# of Events' => $row->event_count,
		        );
		        $rows[] = $row;
		        if (empty($header)) {
		          $header = array_keys($row);
		        }
		      }
		      if (count($rows)) {
		        $output .= '<p>[ ' . l('VIEW ALL YEARS', 'cardfile/events/all') . ' ]</p>';
		        $output .= theme('table', $header, $rows);
		      } else {
		        $output .= "<p>No Events defined</p>";
		      } #}
